body {
	background: url("res/background.jpg") 0 0 no-repeat;
	background-size: 100% auto	
}

.tutor{
	position: absolute;
	left: 350px;
	top: 120px;
}

.box{
	position: relative;
	left: 50px;
	right: 50px;
	height: 130px;
	width: 155px;
	background-color: #fcfcfc;
	border: solid 2px;
	border-color: #008B8B;
	border-radius: 15px;
	opacity: 0.8;
}

#b2{
	position: relative;
	top: 80px
}


.dot{
	margin: 10px;
	margin-left: 10px;
	width: 30px;
	height: 30px;
}

.sign{
	position: absolute;
	top:250px;
	left: 280px;
}

#plus{
	width: 60px;
	height: 60px;
}

.container{
	position: relative;
	top:10px;
	left:8px;
}

.container2{
	position: relative;
	top:35px;
	left:22px;
}


